{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "BitExpert\\Magento\\PasswordNormalizer\\Command\\PasswordNormalizer::getResource",
                "BitExpert\\Magento\\PasswordNormalizer\\Command\\PasswordNormalizer::getEncryptor",
                "BitExpert\\Magento\\PasswordNormalizer\\Command\\PasswordNormalizer::getState",
                "BitExpert\\Magento\\PasswordNormalizer\\Command\\PasswordNormalizer::getIndexer"
            ]
        },
        "Concat": {
            "ignore": [
                "BitExpert\\Magento\\PasswordNormalizer\\Command\\PasswordNormalizer::configure"
            ]
        },
        "ConcatOperandRemoval": {
            "ignore": [
                "BitExpert\\Magento\\PasswordNormalizer\\Command\\PasswordNormalizer::configure"
            ]
        }
    }
}
